*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(0, 150, 0, 1);
}

header {
  background: black;
  color: white;
  padding: 20px 150px;
  text-align: center;
}

a, a:visited {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

header a {
  color: gray;
}

header a:visited {
  color: gray;
}

main {
  padding: 50px;
  background-color: rgba(205, 205, 205, 1);
  box-shadow: 10px 10px 15px black;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

.profile {
  margin: 0 auto;
  text-align: center;
}

h2 {font-size: 40px;}

.splash {
  background-image: url(http://www.gifwave.com/media/56626_zoolander-walk-off-blue-steel-magnum-derek-zoolander.gif);
  background-repeat: repeat;
  margin: 0 auto;
  width: 100%;
  height: 1000px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
}

form {
  width: 300px;
  margin: 0 auto;
}

input {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.button, #newmovie {
  background: gray;
  text-decoration: none;
  color: white;
  width: 100px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

#newmovie{
  margin-left: 70%;
  position: relative;
}

td>form {width: 100px;}

td, th {border-bottom: 1px solid black;}

img {
  height: 300px;
  border-radius: 10px;
}

h3 {
  margin: 0;
}
